# Python
__pycache__/
*.pyc
/.venv/

# packaging
/build/
/dist/
*.egg-info/
/ceopardy/_version.py

# IDE files
/.idea/
/.vscode/

# dependencies managed by npm
/node_modules/
/frontend/node_modules/

# Vite build output
/ceopardy/static/dist/

# project files
ceopardy*db
ceopardy.log
/game-media/

# sound files (not provided)
/ceopardy/static/sounds/*.mp3
/ceopardy/static/sounds/*.wav
# these are creative commons sounds
!/ceopardy/static/sounds/buzzer*.wav
