# Python
__pycache__/
/.venv/

# IDE files
/.idea/
/.vscode/

# dependencies managed by npm
/static/vendor/
/node_modules/

# project files
ceopardy*db
ceopardy.log

# sound files (not provided)
/static/sounds/*.mp3
/static/sounds/*.wav
# these are creative commons sounds
!/static/sounds/buzzer*.wav
