<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {# bootstrap meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/vendor/bootstrap/dist/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %} - Hacker Jeopardy</title>
    {% block style %}{% endblock %}
    {% endblock %}
</head>
<body>
    {% block alerts %}{% endblock %}

    <div id="content">{% block content %}{% endblock %}</div>

    <div id="footer">
        {% block footer %}
        &copy; Copyright 2017 by Olivier Bilodeau
        {% endblock %}
    </div>

    {# jQuery first, then Tether, then Bootstrap JS. #}
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/vendor/tether/dist/js/tether.min.js"></script>
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    {% block ui %}{% endblock %}
</body>
</html>
