<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gameboard</title>
    <!-- bootstrap meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <h1>Welcome to Hacker Jeopardy!</h1>

        {% for _r in range(1, QUESTIONS_PER_CATEGORY + 1) %}
        <div class="row">

            {% for _c in range(CATEGORIES_PER_GAME) %}
            <div class="col">
                {{ _r * 100 }}
            </div>
            {% endfor %}

        </div>
        {% endfor %}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
