{% extends "base.html" %}
{% block title %}Game Board{% endblock %}

{% block style %}
<style>
    html, body, .container-fluid {
        height: calc(100vh - 56px);
    }
    .gamerow {
    {# TODO should be based on QUESTIONS_PER_CATEGORY #}
        height: 20%;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Welcome to Hacker Jeopardy!</h1>

        {% for _r in range(1, QUESTIONS_PER_CATEGORY + 1) %}
        <div class="row gamerow">

            {% for _c in range(CATEGORIES_PER_GAME) %}
            <div class="col">
                <a class="btn btn-primary btn-lg" href="#" role="button">{{ _r * 100 }}</a>
            </div>
            {% endfor %}

        </div>
        {% endfor %}
    </div>
{% endblock %}
