{% extends "base.html" %}
{% block title %}Game Board{% endblock %}

{% block style %}
<style>
    
</style>
{% endblock %}

{% block content %}
<div class="container-host">

    <div class="container-header container-slider flex-border-header container-light {{ state.get('container-header', '') }}">

        <div style="display: flex; width: 100%;">
            <div class="container-header-control container-padding">
                <div class="form-row form-color">
                    <p class="form-header">Teams</p>
                    <div class="form-icon form-click team-add">
                        <i class="fa fa-plus fa-lg"></i>
                    </div>
                </div>
                <form id="form-teams">
                    {{ form.csrf_token }}
                    {# Dynamically render proper amount of fields based on 'teamname' flag in fields #}
                    {% for field in form if field.flags.teamname %}
                    <div class="form-row form-color team-info">
                        <div class="form-text">{{ field.label }}</div>
                        {{ field(class_="form-expand form-cursive form-text form-color form-no-form team-name", autocomplete="off", placeholder="Enter the name of the team") }}
                       <div class="form-icon form-click team-delete"><i class="fa fa-remove fa-lg"></i></div>
                    </div>
                    <div class="form-error">
                    </div>
                    {% endfor %}
                    <!--To handle normal form key presses-->
                    <input type="submit" style="display: none">
                </form>
                <div id="form-teams-errors" class="form-color">
                </div>
                <div class="form-expand"></div>
                <div class="form-row form-color">
                    <div class="form-expand"></div>
                    <div class="form-icon form-click team-refresh"><i class="fa fa-refresh fa-2x"></i></div>
                    <div class="form-expand"></div>
                </div>
            </div>
        </div>
        
        <div class="container-arrow container-dark">
            <!--Down Arrow-->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50" preserveAspectRatio="none">
                <polygon points="0,0 50,50 100,0 50,25 0,0"/>
            </svg>
        </div>

    </div>

    <!--For now...this is a place holder for the space occupied by the arrow-->
    <div class="container-all container-light" style="height: 35px;"></div>
    
    <div class="container-top container-all container-light">
        {% set select_qid = state.get('question', '') %}
        {% for _r in range(1, QUESTIONS_PER_CATEGORY + 1) %}
        <div class="row-ceopardy flex-vertical-pad {{ select_qid }}">
            {% for _c in range(1, CATEGORIES_PER_GAME + 1) %}
            <div class="col-ceopardy flex-horizontal-pad">
                {% set qid = 'c{}q{}'.format(_c, _r) %}
                <div id="{{ qid }}" class="box-ceopardy box-question">
                    <div class="box-question-left">
                        {# FIXME I feel bad for this #}
                        {% for _t in range(1, NB_TEAMS + 1) %}
                            {% set tid = 'team{}'.format(_t) %}
                            {% set score = questions[qid][tid]|string %}
                            {% set class = "" %}
                            {% if score|length > 0 %}
                                {% set class = tid + '-color' %}
                            {% endif %}
                        <div id="{{ qid }}{{ tid }}" class="box-question-status {{ class }}">
                            <span>{{ score }}</span>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="box-question-right {{ 'box-selected' if qid == select_qid }}">
                        <p>${{ _r * SCORE_TICK }}</p>
                    </div>
                    
                    {#
                    {% if questions[qid] == [] %}
                        <p>${{ _r * SCORE_TICK }}</p>
                    {% else %}
                        <p class="status">
                        {% for _q in questions[qid] %}
                            {{ _q | safe}}<br/>
                        {% endfor %}
                        </p>
                    {% endif %}#}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        
        <div class="row-ceopardy">
            <div class="container-controls" style="width: calc(20% - 60px);">
                
            </div>
            
            <div class="container-controls form-color" style="width: 60px; display: flex; justify-content: center;">
                <div id="team-roulette" class="form-icon form-click" style="align-self: center;"><i class="fa fa-spinner fa-2x fa-fw"></i></div>
            </div>
            
            <div class="container-controls" style="flex-grow: 1;">
                {# TODO: consider migrating this to a flask-wtform #}
                <form id="form-question-normal">
                    <input id="question-id" type="hidden" name="id" value="{{ select_qid }}">
                    {% for tid, name in teams.items() %}
                    <div class="row-ceopardy">
                        <div class="box-answer-team form-color" style="display: flex; vertical-align: middle;">
                            <div class="form-icon form-click team-select"><i class="fa fa-crosshairs fa-lg"></i></div>
                            <label for="{{ tid }}" style="line-height: 200%; margin-left: 8px;">{{ name }}</label>
                        </div>
                        <div class="box-answer-slider">
                            <input name="{{ tid }}" type="range" min="-1" max="1" step="1"/>
                        </div>
                    </div>
                    {% endfor %}
                    <input type="submit" style="display: none;">
                </form>
            </div>
            
            <div class="container-controls form-color" style="width: 60px; display: flex; justify-content: center;">
                <div id="results-submit" class="form-icon form-click" style="align-self: center;"><i class="fa fa-check-square-o fa-2x"></i></div>
            </div>
            
            <div class="container-controls" style="width: calc(20% - 60px);">
                
            </div>
        </div>
    </div>
    
    <div class="container-bottom container-all container-light">
        <div id="answer-controls" class="no-display">
            <div id="question-context"></div>
            {# TODO: daily doubles should be handled at some point #}
            <div class="question-daily-double no-display">
                <input id="{{ tid }}" type="range" min="0" max="500000000" step="{{ SCORE_TICK }}"/>
            </div>
        </div>
    </div>
    
    <!--For now...this is a place holder for the space occupied by the arrow-->
    <div class="container-all container-light" style="height: 35px;"></div>
    
    <div class="container-footer container-slider flex-border-footer container-light {{ state.get('container-footer', '') }}">
    
        <div class="container-arrow container-dark">
            <!--Up Arrow-->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50" preserveAspectRatio="none">
                <polygon points="0,50 50,0 100,50 50,25 0,50"/>
            </svg>
        </div>
        
        <div style="display: flex; width: 100%;">
            <div class="container-footer-control container-padding">
                <div class="form-row form-color">
                    <p class="form-header">Messages</p>
                    <div class="form-icon form-click">
                        <i id="message-hide" class="fa fa-eye-slash fa-lg"></i>
                    </div>
                </div>
                {% set select_mid = state.get('message', '') %}
                {% for _m in MESSAGES %}
                {% set mid = 'message{}'.format(loop.index) %}
                <div id="{{ mid }}" class="message-parent">
                    <div class="form-row form-color team-info">
                        <div class="form-text">{{ _m.title }}</div>
                        <div class="form-hidden message-text">{{ _m.text }}</div>
                        <div class="form-expand"></div>
                        {% if _m.title == "Custom" %}
                        <div class="form-icon form-click message-edit"><i class="fa fa-edit fa-lg"></i></div>
                        {% endif %}
                        <div class="form-icon form-click message-display">
                            {% if mid != select_mid %}
                            <i class="fa fa-eye fa-lg message-show"></i>
                            <i class="fa fa-eye-slash fa-lg message-hide" style="display: none;"></i>
                            {% else %}
                            <i class="fa fa-eye fa-lg message-show" style="display: none;"></i>
                            <i class="fa fa-eye-slash fa-lg message-hide"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="form-expand">
                    <div id="message-custom" class="form-color form-edit" style="display: none;" contenteditable="true">
                        {# TODO restore content here on reload #}
                        <span></span>
                    </div>
                </div>
                
            </div>
            <div class="container-separator-v container-dark"></div>
            <div class="container-footer-control">
                <iframe class="iframe-viewer" src="/viewer"></iframe>
            </div>
        </div>

    </div>

</div>
{% endblock %}

{% block ui %}
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/host');

    function ShowContainer(name, direction) {
        var container = 'container-' + name;
        var slide = 'slide-' + direction
        if($('.' + container).hasClass(slide)) {
            $('.' + container).removeClass(slide);
            socket.emit('slider', {id: container, value: ""});
        }
        else {
            $('.' + container).addClass(slide);
            socket.emit('slider', {id: container, value: slide});
        }
    }
    
    function AddTeam(event) {
        {% if not VARIABLE_TEAMS %}
        alert("Fixed teams...");
        return;
        {% endif %}
        // This is not used right now!
        var info = $('#form-teams').find('.team-info');
        var count = info.length;
        if (count >= 5) {
            // Maximum number of teams...
            return;
        }
        count += 1;
        clone = info.first().clone();
        clone.find('.team-name').text("Team #" + count.toString());
        clone.find('.team-delete').click(DeleteTeam);
        $('#form-teams').append(clone);
        // Add the error div too
        $('#form-teams').append('<div class="form-error"></div>');
    }
    
    function DeleteTeam(event) {
        {% if not VARIABLE_TEAMS %}
        alert("Fixed teams...");
        return;
        {% endif %}
        // This is not used right now!
        var info = $('#form-teams').find('.team-info');
        var count = info.length;
        if (count <= 1) {
            // Minimum number of teams...
            return;
        }
        var team = $(this).closest('.team-info');
        // Remove the error div too
        team.next().remove();
        team.remove();
    }
    
    function RefreshTeams(event) {
        var url = "{{ url_for('setup') }}";
        $.ajax({
            type: "POST",
            url: url,
            data: $('#form-teams').serialize(),
            dataType: 'json',
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            },
            success: function (data) {
                $(".form-error").empty();
                if (data.result == "success") {
                    ShowContainer('header', 'down');
                    // Update the answer form too
                    var teams = data['teams'];
                    for (var team in teams) {
                        if (teams.hasOwnProperty(team)) {
                            $(`#form-question-normal label[for=${team}]`).html(teams[team]);
                        }
                    }
                }
                else {
                    // Equivalent of a normal form error handling
                    for (var key in data.errors) {
                        if (data.errors.hasOwnProperty(key)) {
                            var array = data.errors[key];
                            var html = '<ul>';
                            for (var i = 0; i < array.length; i++) {
                                html += '<li>' + array[i] + '</li>';
                            }
                            html += '</ul>';
                            $("#" + key).parent().next().html(html);
                        }
                    }
                }
            }
        });
    }
    
    function ClickQuestion(event) {
        var box = $(this).find(".box-question-right")
        var id = $(this).attr('id');
        if (box.hasClass("box-selected")) {
            box.removeClass("box-selected");
            socket.emit('question', {action: "deselect", id: id}, function(data) {
                DeselectQuestion(data, id);
            });
        }
        else {
            $(".box-selected").removeClass("box-selected");
            box.addClass("box-selected");
            socket.emit('question', {action: "select", id: id}, function(data) {
                SelectQuestion(data, id);
            });
        }
    }
    
    {# FIXME: not CSRF protected but what are the odds of clicking on a link during a game ;) #}
    function SubmitResults(event) {
        console.log("submit");
        var url = "{{ url_for('answer') }}";
        $.ajax({
            type: "POST",
            url: url,
            data: $('#form-question-normal').serialize(),
            dataType: 'json',
            success: function (data) {
                $(".form-error").empty();
                if (data.result == "success") {
                    // reset form values
                    $('#form-question-normal input[type=range]').val(0);
                    var id = $('#question-id').val();
                    for (var key in data.answers) {
                        if (!data.answers.hasOwnProperty(key)) {
                            continue;
                        }
                        var team = key;
                        var score = data.answers[key];
                        var selector = '#' + id + team;
                        $(selector).addClass(team + '-color');
                        $(selector + '> span').text(score);
                    }
                }
                else {
                   console.log("You fucked it up! ;)");
                }
            }
        });
    }
    
    function SelectQuestion(data, id) {
        console.log(data);
        console.log(id);
        
        $("#question-context").html("<p>" + id + " / " + data + "</p>");
        $("#answer-controls").removeClass("no-display");
        $("#question-id").val(id);
        
    }
    
    function DeselectQuestion(data, id) {
        console.log(data);
        console.log(id);
    }

    function DisplayMessage(event) {
        var show = $(this).find('.message-show');
        var hide = $(this).find('.message-hide');
        var visible = show.is(":visible");
        $('.message-hide').hide();
        $('.message-show').show();
        var element = $(this).parent().find('.message-text');
        if (visible) {
            show.hide();
            hide.show();
            ShowMessage(element);
        }
        else {
            hide.hide();
            show.show();
            HideMessage();
        }
    }
    
    function ShowMessage(element) {
        var id = element.closest('.message-parent').attr("id");
        if (element.text().length == 0) {
            var text = $('#message-custom').first().text();
        }
        else {
            var text = element.text();
        }
        socket.emit('message', {action: "show", id: id, text: text});
    }
    
    function HideMessage() {
        socket.emit('message', {action: "hide"});
    }
    
    function EditMessage(event) {
        if ($('#message-custom').is(":visible")) {
            $('#message-custom').children().hide();
            $('#message-custom').animate({"height": "0"}, 600, function() {
                $('#message-custom').hide();
            });
        }
        else {
            $('#message-custom').show();
            $('#message-custom').animate({"height": "100%"}, 600, function() {
                $('#message-custom').children().show();
            });
        }
    }
    
    $(document).ready(function() {
        $(".box-ceopardy").on("click", ClickQuestion);
        
        $('.container-header > .container-arrow').on("click", function() {
            ShowContainer('header', 'down');
        });
        $('.container-footer > .container-arrow').on("click", function() {
            ShowContainer('footer', 'up');
        });
        
        $('.team-add').on("click", AddTeam);
        $('.team-delete').on("click", DeleteTeam);
        $('.team-refresh').on("click", RefreshTeams);
        $('#form-teams').on("submit", function(e){
            e.preventDefault();
            RefreshTeams(e);
        });
        
        
        $('#team-roulette').on("click", function() {
            socket.emit('team', {action: "roulette"});
        });
        $('.team-select').on("click", function() {
            var id = $(this).parent().find('label').attr('for');
            socket.emit('team', {action: "select", id: id});
        });
        
        $('#results-submit').on("click", SubmitResults);

        $('.message-display').on("click", DisplayMessage);
        $('.message-edit').on("click", EditMessage);
        $('#message-hide').on("click", function(e) {
            $('.message-hide').hide();
            $('.message-show').show();
            HideMessage(e);
        });
        
        // Maybe there's a cleaner CSS approach for this
        $('.fa-spinner').hover(function() {
            $(this).addClass('fa-pulse');
        }, function() {
            $(this).removeClass('fa-pulse');
        });
        
    });
    
</script>
{% endblock %}
