{# TODO refactor common components viewer #}
{% extends "base.html" %}
{% block title %}Game Board{% endblock %}

{% block alerts %}
{% endblock %}

{% block content %}
    <div id="overlay" class="container-game container-all">
        <div class="black-box">
            <div class="box-overlay">
                <div id="overlay-content" class="box-ceopardy box-question">
                    <p>Please wait while the game is getting setup...</p></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block ui %}
    <script>

        var socket = io.connect('http://' + document.domain + ':' + location.port + '/wait');
        socket.on('start_game', function(data) {
            window.location.href = 'http://' + document.domain + ':' + location.port + '/viewer';
        });

    </script>
{% endblock %}
