{% extends "lobby.html" %}
{% block title %}Game Setup{% endblock %}

{# TODO: this is a bad idea because the form can be canceled. We need a form setup for the main UI #}
{% block alerts %}
    <div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="Alerts" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="Alerts">Welcome to Hacker Jeopardy!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <form action="{{ url_for('setup') }}" method="post">
          <div class="modal-body">
              <p>Let's get this game started, shall we?</p>

                  {{ form.csrf_token }}
                  <h3>Please enter the name of the teams:</h3>
                  {% for i in range(1, NB_TEAMS + 1) %}
                      <div class="form-group">
                          <label for="teamName{{ i }}">Team #{{ i }}'s Name</label>
                          <!-- <input type="text" class="form-control" id="teamName{{ i }}" placeholder="Enter the name of the team"> -->
                            {{ form.team1(class_="form-control") }}
                      </div>
                  {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Ready!</button>
          </div>
            </form>
        </div>
      </div>
    </div>
{% endblock %}

{% block ui %}
    <script>
        $(document).ready(function() {
            $('#alert').modal();
        });
    </script>
{% endblock %}
