{% extends "base.html" %}
{% block title %}Game Board{% endblock %}

{% block content %}
{% set height = (100 / QUESTIONS_PER_CATEGORY)|int %}
<div class="container-game container-all container-light">

    <div class="container-categories-viewer">
        <div class="black-box flex-pad">
            <div id="game-categories" class="row-ceopardy flex-vertical-pad {{ 'no-display' if state.get('question', '') != '' or state.get('dailydouble', '') == 'enabled' }}" style="height: 100%;">
                {% for name in categories %}
                <div class="col-ceopardy flex-horizontal-pad">
                    <div id="c{{ loop.index }}" class="box-ceopardy box-category-viewer"><p>{{ name }}</p></div>
                </div>
                {% endfor %}
            </div>
            <div id="question-category" class="row-ceopardy flex-vertical-pad {{ 'no-display' if state.get('question', '') == '' }}" style="height: 100%;">
                <div class="col-ceopardy flex-horizontal-pad">
                    <div id="question-category-content" class="box-ceopardy box-category-viewer">
                        <p>{{ active_question.get('category', '') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-separator-h"></div>

    <div class="container-questions-viewer">
        <div class="black-box flex-pad">
            {% for _r in range(1, QUESTIONS_PER_CATEGORY + 1) %}
            <div class="row-ceopardy flex-vertical-pad" style="height: {{ height }}%;">
                {% for _c in range(1, CATEGORIES_PER_GAME + 1) %}
                {% set answered = questions['c{}q{}'.format(_c, _r)] == True %}
                <div class="col-ceopardy flex-horizontal-pad">
                    <div id="c{{ _c }}q{{ _r }}" class="box-ceopardy box-question-viewer" role="button">
                        <p class="{{ 'answered' if answered }}">${{ _r * SCORE_TICK }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-separator-h"></div>

    <div id="teams-hud" class="container-results {{ 'no-display' if state.get('dailydouble') == 'enabled' }}">
        {% set select_tid = state.get('team', '') %}
        {% for name, score in scores.items() %}
        {% set tid = 'team{}'.format(loop.index) %}
        <div class="container-team">
                <div id="{{ tid }}" class="black-box flex-pad {{ 'team-selected' if select_tid == tid }}" style="width: 80%; max-width:250px; margin: auto;">
                    <div class="col-player flex-horizontal-pad">
                        <div class="row-player flex-vertical-pad" style="height: 30%;">
                            <div id="{{ tid }}-score" class="box-ceopardy box-score"><p>${{ score }}</p></div>
                        </div>
                        <div class="row-player flex-vertical-pad" style="height: 70%;">
                            <div id="{{ tid }}-name" class="box-ceopardy box-team {{ tid }}-font"><p>{{ name }}</p></div>
                        </div>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
    {% set dd = namespace() %}
    {# if in DailyDouble mode #}
    {% if state.get('dailydouble') == 'enabled' %}
        {% set dd.team_id = state.get('team') %}
        {% for name, score in scores.items() %}
            {% if dd.team_id == 'team{}'.format(loop.index) %}
                {% set dd.name = name %}
                {% set dd.score = score %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <div id="dailydouble-hud" class="container-results {{ 'no-display' if state.get('dailydouble', '') != 'enabled' }}">
        <div class="container-team">
            <div id="dailydouble-team" class="black-box flex-pad team-selected" style="width: 80%; max-width:250px; margin: auto;">
                <div class="col-player flex-horizontal-pad">
                    <div class="row-player flex-vertical-pad" style="height: 30%;">
                        <div id="dailydouble-team-score" class="box-ceopardy box-score"><p>${{ dd.score }}</p></div>
                    </div>
                    <div class="row-player flex-vertical-pad" style="height: 70%;">
                        <div id="dailydouble-team-name" class="box-ceopardy box-team {{ dd.team_id ~ '-font' if state.get('dailydouble') == 'enabled' }}"><p>{{ dd.name }}</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="container-display-waiger" class="container-display-waiger">
                <div class="dd-box black-box flex-pad" style="width: 80%; margin: auto;">
                    <div class="col-player flex-horizontal-pad">
                        <div class="row-player flex-vertical-pad" style="height: 30%;">
                            <div class="box-ceopardy box-team"><p>Waiger</p></div>
                        </div>
                        <div class="row-player flex-vertical-pad" style="height: 70%;">
                            <div id="dailydouble-waiger-score" class="box-ceopardy box-score"><p>9000</p></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
    </div>
</div>

<div id="question-overlay" class="container-game container-absolute container-all {{ 'no-display' if state.get('question', '') == '' or state.get('dailydouble') == 'enabled' }}">
    <div class="container-question-viewer">
        <div class="black-box flex-pad">
            <div class="container-question row-ceopardy flex-vertical-pad">
                <div class="col-ceopardy flex-horizontal-pad">
                    <div id="question-overlay-content" class="box-ceopardy box-question-viewer">{{ active_question.get('text', '')|safe }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="big-overlay" class="container-game container-absolute container-all {{ 'no-display' if state.get('overlay-big', '') == '' }}">
    <div class="big-container-overlay">
        <div class="black-box flex-pad">
            <div class="box-overlay">
                <div id="big-overlay-content" class="box-ceopardy box-question-viewer">{{ state.get('overlay-big', '')|safe }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block ui %}
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/viewer');
    var rouletteId = null;

    function SelectTeam(id) {
        clearInterval(rouletteId);
        $(".team-selected").removeClass("team-selected");
        $("#" + id).addClass("team-selected");
    }

    function DeselectAllTeams() {
        $('.container-team div').removeClass('team-selected');
    }

    // TODO Max: cross-fading between question category and game categories would be nice
    function showQuestionCategory(text) {
        $("#game-categories").addClass("no-display");
        $("#question-category").removeClass("no-display");
        $("#question-category-content>p").text(text);
    }

    // TODO Max: cross-fading between question category and game categories would be nice
    function showGameCategories() {
        $("#question-category").addClass("no-display");
        $("#game-categories").removeClass("no-display");
        $("#question-category-content>p").text("");
    }

    function createDailyDoubleOverlay(height, width) {
        var paddedHeight = height * 1.1;
        var paddedWidth = width * 1.1;

        var overlay = $("<div>");
        overlay.attr("id", "dailydouble-overlay");
        overlay.css("height", paddedHeight);
        overlay.css("width", paddedWidth);
        overlay.css("border-radius", "1px");
        overlay.css("text-align", "center");
        overlay.css("border", "1px solid black");
        overlay.css("background-color", "rgb(0, 1, 161)");
        overlay.css("font-weight", "bolder");

        // We have 1/8 padding top, 1/8 padding top and the 3/4 that are remaining
        // is used to display the text
        overlay.css("padding", (paddedHeight / 8) + "px 0px");
        overlay.css("line-height", ((paddedHeight / 4) * 3) / 2 + "px");
        overlay.css("font-size", ((paddedHeight / 4) * 3) / 2 + "px");

        var firstLine = $("<span>");
        firstLine.css("color", "white");
        firstLine.text("DAILY");

        var secondLine = $("<span>");
        secondLine.css("color", "white");
        secondLine.text("DOUBLE");

        overlay.append(firstLine);
        overlay.append($("<br>"));
        overlay.append(secondLine);

        return $(overlay);
    }

    function DailyDoubleAnimate(gameBox) {
        newEl = createDailyDoubleOverlay(gameBox.get(0).getBoundingClientRect().height / 2, gameBox.get(0).getBoundingClientRect().width / 2);
        gameBox.append(newEl);

        var windowHeight = document.documentElement.clientHeight;
        var windowWidth = document.documentElement.clientWidth;

        var overlayHeight = newEl.get(0).getBoundingClientRect().height;
        var overlayWidth = newEl.get(0).getBoundingClientRect().width;

        var gameContainer = $(".container-game.container-all:not(.no-display)");

        var resultsContainerHeight = $(".container-questions-viewer").get(0).getBoundingClientRect().height;
        var resultsContainerWidth = $(".container-questions-viewer").get(0).getBoundingClientRect().width;

        var paddingTop = parseInt(gameContainer.css("padding-top")) + $(".container-categories-viewer").get(0).getBoundingClientRect().height + $(".container-separator-h").get(0).getBoundingClientRect().height;
        var spacingSides = (parseInt(gameContainer.css("padding-left")) + parseInt(gameContainer.css("margin-left"))) * 2;

        var scaleFactorX = (resultsContainerWidth / overlayWidth) / 360;
        var scaleFactorY = (resultsContainerHeight / overlayHeight) / 360;
        var elHeight = gameBox.get(0).getBoundingClientRect().height;
        var elWidth = gameBox.get(0).getBoundingClientRect().width;
        var finalTop = (resultsContainerHeight - overlayHeight) / 2 + paddingTop;
        var offsetTop = (newEl.offset().top - finalTop) / 360;
        var finalLeft = (windowWidth / 2) - (overlayWidth / 2);
        var offsetLeft = (newEl.offset().left - finalLeft) / 360;

        $({deg: 0}).animate({deg: -359}, {
            duration: 2000,
            step: function(now) {
                newEl.css({
                    top: -(offsetTop * -now)+'px',
                    left: -(offsetLeft * -now)+'px',
                    position: 'relative',
                    transform: 'scaleX(' + scaleFactorX * -now + ') scaleY(' + scaleFactorY * -now + ') rotateX(' + now + 'deg)'
                });
            }
        });

        return newEl;
    }

    function DailyDoubleTeamWaiger(data) {
        $('#teams-hud').addClass("no-display");
        $('#dailydouble-hud').removeClass("no-display");
        $('#dailydouble-team-name>p').text(data.team_name);
        // remove all previously applied team fonts
        $('#dailydouble-team-name').removeClass (function (index, className) {
            return (className.match (/^[a-z0-9]+-font$/g) || []).join(' ');
        });
        $('#dailydouble-team-name').addClass(data.team_id + '-font');
        $('#dailydouble-team-score>p').text(data.team_score);
    }

    socket.on('connect', function() {
        socket.emit('refresh');
    });

    socket.on('update-board', function(data) {
        for (var id in data) {
            if (data.hasOwnProperty(id)) {
                var solved = data[id];
                if (solved) {
                    $(`#${id}`).children().addClass('answered');
                }
                else {
                    $(`#${id}`).children().removeClass('answered');
                }
            }
        }
    });

    socket.on('redirect', function(data) {
        location.href = data["url"];
    });

    socket.on('dailydouble', function(data) {
        showQuestionCategory(data.category);
        DailyDoubleAnimate($(`#${data.qid}`).parent());
        DailyDoubleTeamWaiger(data);
    });

    socket.on('dailydouble-waiger', function(data) {
        $('#dailydouble-waiger-score>p').text(data);
    });

    socket.on('question', function(question) {
        $("#dailydouble-overlay").fadeOut(1000, function() {
            $(this).remove();
        });
        if (question.action == "show") {
            showQuestionCategory(question.category);
            $("#question-overlay-content").html(question.content);
            $("#question-overlay").fadeIn(1000);
        }
        else {
            showGameCategories();
            $("#question-overlay").fadeOut(1000);
            $("#question-overlay-content").html(question.content);
        }
    });

    socket.on('overlay', function(data) {
        if (data.action == "show") {
            $("#" + data.id + "-overlay-content").html(data.html);
            $("#" + data.id + "-overlay").fadeIn(1000);
        }
        else {
             $("#" + data.id + "-overlay").fadeOut(1000);
             $("#" + data.id + "-overlay-content").html(data.html);
        }
    });

    socket.on('team', function(data) {
        if ((data.action == "name") || (data.action == "score")) {
            for (var key in data.args) {
                if (!data.args.hasOwnProperty(key)) {
                    continue;
                }
                // No XSS with text function
                $('#' + key + '-' + data.action + ' > p').text(data.args[key]);
            }
        }
        else if (data.action == "select") {
            if (data.args == null) {
                DeselectAllTeams();
            }
            else {
                SelectTeam(data.args);
            }
        }
        else if (data.action == "roulette") {
            // We might have to rethink this because a browser tab could be asleep
            clearInterval(rouletteId);
            rouletteId = setInterval(function() {
                var id = data.args.shift();
                $(".team-selected").removeClass("team-selected");
                $("#" + id).addClass("team-selected");
                if (data.args.length == 0) {
                    clearInterval(rouletteId);
                    rouletteId = null;
                }
            }, 100);
        }
    });

    {% if state.get('dailydouble') == 'enabled' %}
        // This is to trigger the daily-double on a freshly opened client if
        // the server is in that state
        var question_id = "{{ state.get('question') }}";
        DailyDoubleAnimate($(`#${question_id}`).parent());
    {% endif %}
</script>
{% endblock %}
