{% extends "base.html" %}
{% block title %}Game Board{% endblock %}

{% block style %}
<style>
    body {
        background-color: #603320;
    }
    
    div#content {
        height: 100%;
    }
    
    .container-categories {
        height: 14vh;
    }
    
    .container-questions {
        height: 60vh;
    }
    
    .container-overlay {
        height: 76vh;
        width: 100%;
        position: absolute;
        top: 2vh;
        display: none;
    }
    
    .container-results {
        height: 20vh;
    }
</style>
{% endblock %}

{% block content %}
    {% set height = (100 / QUESTIONS_PER_CATEGORY)|int %}
    <div style="height: 2vh"></div>
    
    <div class="container-fluid container-categories">
        <div class="black-box">
            <div class="row-ceopardy" style="height: 100%;">
                {% for _c in range(CATEGORIES_PER_GAME) %}
                <div class="col-ceopardy">
                    <div id="c{{ _c }}" class="box-ceopardy box-category"><p>I LIKE THIS C{{ _c }}</p></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div style="height: 2vh"></div>
    
    <div class="container-fluid container-questions">
        <div class="black-box">
            {% for _r in range(1, QUESTIONS_PER_CATEGORY + 1) %}
            <div class="row-ceopardy" style="height: {{ height }}%;">
                {% for _c in range(1, CATEGORIES_PER_GAME + 1) %}
                <div class="col-ceopardy">
                    <div id="c{{ _c }}q{{ _r }}" class="box-ceopardy box-question" role="button"><p>${{ _r * 100 }}</p></div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div style="height: 2vh"></div>
    
    <div class="container-fluid container-results">
        <div class="row-ceopardy" style="height: 100%;">
            {% for _n in range(1, NB_TEAMS + 1) %}
            <div class="col-ceopardy">
                    <div id="t{{ _n }}" class="black-box" style="width: 80%; max-width:250px; margin: auto;">
                        <div id="t{{ _n }}score" class="box-ceopardy box-score" style="height: 30%;"><p>${{ 1000 * _n }}</p></div>
                        <div style="height: 10px"></div>
                        <div id="t{{ _n }}name" class="box-ceopardy box-team team-{{ _n }}" style="height: calc(70% - 10px);"><p>Test Team!</p></div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div id="overlay" class="container-fluid container-overlay">
        <div class="black-box">
            <div class="box-overlay">
                <div id="overlay-content" class="box-ceopardy box-question">That person designs great gameboards!</div>
            </div>
        </div>
    </div>

{% endblock %}

{% block ui %}
    <script>
        
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var rouletteId = null;
        
        socket.on('connect', function() {
            socket.emit('refresh');
        });
        
        socket.on('update-board', function(data) {
            for (var id in data) {
                if (data.hasOwnProperty(id)) {
                    var solved = data[id];
                    if (solved) {
                        $("#" + id).children().hide();
                    }
                    else {
                        $("#" + id).children().show();
                    }
                }
            }
        });
        
        socket.on('show-overlay', function(data) {
            $("#overlay-content").html(data);
            $("#overlay").fadeIn(1000);
        });
        
        socket.on('hide-overlay', function(data) {
            $("#overlay").fadeOut(1000);
            $("#overlay-content").empty();
        });
        
        socket.on('select-team', function(data) {
            console.log(data);
            clearInterval(rouletteId);
            $(".team-selected").removeClass("team-selected");
            $("#" + data).addClass("team-selected");
        });
        
        socket.on('roulette-team', function(data) {
            clearInterval(rouletteId);
            rouletteId = setInterval(function() {
                var id = data.shift();
                $(".team-selected").removeClass("team-selected");
                $("#" + id).addClass("team-selected");
                if (data.length == 0) {
                    clearInterval(rouletteId);
                    rouletteId = null;
                }
            }, 100);
        });
        
        
    </script>
{% endblock %}
